<h1 class="title-content">Datos generales de Durango</h1>

<h4 class="description"> El estado de Durango se encuentra ubicado al noroeste del país. Es el cuarto estado más extenso del territorio mexicano y, por otro lado, es el noveno menos poblado.

  Además de tener un gran territorio, el clima de Durango por lo general es frío y muy seco, por lo que en la zona centro se cuenta con el clima ideal en la estación correcta. Es decir, en primavera alcanzan los 35º, en verano hay lluvias y en invierno es de las zonas más frías del país.</h4>

  <div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src= "https://firebasestorage.googleapis.com/v0/b/curso-angular-98fa9.appspot.com/o/Centro-Historico-de-Durango.webp?alt=media&token=e1a2d0e3-30ec-4145-9035-8edab2899fbb"  
      alt="...">
      <div class="card-body">
        <h5 class="card-title">Centro Histórico de Durango</h5>
        <p class="card-text">Centro Histórico de Durango son los más de mil edificios construidos con estilos que varían entre el Neoclásico y Barroco. Además, cuenta con transporte público que te conecta a cualquier parte de la Ciudad de Durango.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/curso-angular-98fa9.appspot.com/o/lugares-para-visitar-en-durango.webp?alt=media&token=8bd94db0-43bd-48e2-92ed-ed737a5e6c00" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mexiquillo, Durango</h5>
        <p class="card-text">Este parque, cuenta con más de 13 mil hectáreas, en donde encontrarás bosques vírgenes y hermosas cascadas con más de 20 metros de altura.Si eres amante del rappel, kayak y acampar al aire libre, Mexiquillo en Durango es tu destino ideal. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/curso-angular-98fa9.appspot.com/o/museo-regional-durango.webp?alt=media&token=314c3895-52ac-48cc-a97d-bb3e9aa5badf" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Museo Regional de Durango</h5>
        <p class="card-text">Fue construido a mediados del año 1900 para que sirviera como residencia del gobernador Francisco Gómez Palacio en esa época.Hay cosas muy sorprendentes, tal como el fragmento de un mamut en la sala Geológica.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/curso-angular-98fa9.appspot.com/o/paseo-viejo-oeste.webp?alt=media&token=5304ab74-83c9-459a-9afd-58cd40a1c10b" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Paseo del Viejo Oeste en Durango</h5>
        <p class="card-text">El Paseo del Viejo Oeste en Durango ofrece shows de vaqueros e indios, por lo que si buscas una de las zonas turísticas de Durango, esta es una excelente opción para que se diviertan en familia y tomen hermosas fotos de las montañas.</p>
      </div>
    </div>
    
  
  </div>
</div>
 
